body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
    }
.aparement_info{
    position: relative;
}
.apart_info {
    border-color: #4fc0e8;
    background-color: linear-gradient(#7a57d0, #4fc0e8, #5be6c3);
    width: 50%;
    border-collapse: collapse;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
.titre_annonce {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.99);
    font-size: 24px;
    text-align: left;
}
table {
    table-layout: fixed;
    width: 100%;
}
.secondTD {
    text-align: center;
   }
.firstTD {
    text-align: left;
}
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.99);
    }
th{
    font-size: larger;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.title:hover{
    box-shadow: 0 0 20px rgba(1, 1, 1, 0.1);
    background: linear-gradient(-30deg, #7a57d0, #5be6c3, #4fc0e8, #a7dbee, #6B49C8, #5C37C2, #11082A);
}
.title {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: #5be6c3;
    border-style: outset;
    width: max-content;
    border-color: #7a57d0;
    font-family: "Times New Roman", Times, serif;
    font-size:2em;
    font-weight:300;
    letter-spacing:.05em;
    text-transform:capitalize;
    margin-bottom:30px;
}
.carousel {
    position:relative;
    color: #170724;
    border-style: ridge;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
            0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
    }

.carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70%;
    margin-right: 6px;
    background-color: -webkit-linear-gradient(#7a57d0, #5be6c3, rgb(79, 192, 232));
    background-color: linear-gradient(#7a57d0, #5be6c3, rgb(79, 192, 232));
    border-radius: 6px;
    }
.col-8{
    position: relative;
    margin-left: 0%;
    width:700px;
    bottom: 50%;
    padding-bottom: 0;
}

.container_col_8{
    position: relative;
    margin-left: 50%;
    width: 700px;
    bottom: 50%;
    padding-bottom: 0;
}

.dealer-info{
    position: relative;
    left: 27%;
}

.info{
    position:relative;
    width: max-content;
    left: 38%;
}

.centered {
    position:relative;
    width: max-content;
    top: 20%;
    left: 25%;
}

.lgbtn {
border-radius: 5px;
padding: 15px 55px;
font-size: 18px;
text-decoration: none;
margin: 20px;
background-color: rgba(8, 219, 252, 0.95);
color: #fff;
position: relative;
display: inline-block
}

.lgbtn:active {
transform: translate(0px, 5px);
-webkit-transform: translate(0px, 5px);
box-shadow: 0px 1px 0px 0px
}

.green {
    background-color: #4fc0e8;
    box-shadow: 3px 5px 5px #888888;
    border-radius: 2px;
    border-color: #4fc0e8;
    transition: all .5s ease-in-out
}

.green:hover {
background-color: #7a57d0;
color: #fff;
padding: 20px 60px;
transform: scale(1.1)
}

.img-responsive{
    width: 650px;
}
/********for slider style**************/
.slider {
    width: 700px;
    margin: 0 auto 20px;
    text-align: center;
}

.slider .photos {
    position: relative;
    height: 45%;
    width: 45%;
}

.slider .photos img {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.slider .photos img.shown {
    opacity: 1;
}

.prev:before,
.next:before {
    color: #fff;
    font-size: 100px;
    position: absolute;
    top: 35%;
    cursor: pointer;
}

.prev:before {
    content: '<';
    left: 0;
}

.next:before {
    content: '>';
    right: 0;
}

.prix_trans{
    background: #632c65;
    background: -moz-linear-gradient(-45deg, #fca6ff 15%, #56a5e2 100%);
    background: -webkit-linear-gradient(-45deg, #fca3ff 15%,#56a5e2 100%);
    background: linear-gradient(135deg, #fdb8ff 15%,#56a5e2 100%);
}
.container{
    margin-top: 6%;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
form { max-width:420px; margin:50px auto; }

.feedback-input {
color:white;
font-family: Helvetica, Arial, sans-serif;
font-weight:500;
font-size: 18px;
border-radius: 5px;
line-height: 22px;
background-color: transparent;
border:2px solid #00F6FF;
transition: all 0.3s;
padding: 13px;
margin-bottom: 15px;
width:100%;
box-sizing: border-box;
outline:0;
}

.feedback-input:focus { border:2px solid #01ff95; }

textarea {
height: 150px;
line-height: 150%;
resize:vertical;
}

[type="submit"] {
font-family: 'Montserrat', Arial, Helvetica, sans-serif;
width: 100%;
background-image: linear-gradient(to right top, #00f6ff, #00fbe8, #00fdc1, #00fc8a, #00f93f);
border-radius:5px;
border:0;
cursor:pointer;
color:white;
font-size:24px;
padding-top:10px;
padding-bottom:10px;
transition: all 0.3s;
margin-top:-4px;
font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.blockquote-wrapper {
display: flex;
padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 720px;
}

/* Blockquote header */
.blockquote h1 {
    font-family: 'Abril Fatface', cursive;
    position: relative; /* for pseudos */
    color: #00aeff;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 2px solid #fff;
    border: solid 2px;
    border-radius:20px;
    padding: 25px;
}

.create-cmt{
    background: #a7dbee;
    background: -webkit-linear-gradient(to right, #FFFFFF, #a7dbee);
    background: linear-gradient(to right, #FFFFFF, #a7dbee);
}

.blockquote h4 {
    position: relative;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left:20px;
    padding-left:12px;
}


.blockquote h4:first-letter {
margin-left:-12px;
}

